/*To move the footer to the bottom of the page */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  